<div class="container">
    <div class="row">
        <div class="col col-12">
            <div class="block"></div>

            <div id="animated-cta" class="animated-cta">
                <h2 class="animated-cta__title">
                    806,875 Customers Are Already Building Amazing Websites With Divi. Join The Most Empowered WordPress Community On The Web
                </h2>
                <a href="#" class="animated-cta__btn">Sign Up Today</a>
                <div class="animated-cta__notice">We offer a 30 Day Money Back Guarantee, so joining is Risk-Free!</div>
            </div>

            <div class="block"></div>
        </div>
    </div>
</div>
