@use "./../../../node_modules/css-cols/src/scss/variables" as *;
@use "./../../../node_modules/css-cols/src/scss/mixins" as *;
@use "./../../../node_modules/css-cols/src/scss/cols" as *;
@use "./../../../node_modules/css-cols/src/scss/functions" as *;

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	overflow-x: hidden;
}

.block {
	width: 100%;
	height: 500px;
	border: 1px solid red;
}

.animated-cta {
	position: relative;
	z-index: 20;
	font-family: 'Lato', sans-serif;
	text-align: center;
	transition: all 1s ease;
	transform: scale(1,1);
	max-width: 100%;
	color: white;

	&__inner {
		z-index: 20;
		display: block;
		position: relative;
		padding: 40px 80px 80px 80px;
		background: radial-gradient(circle at top left,#4A42EC 0%,#521d91 100%);
		background-color: #521d91;
		border-radius: 10px;
		box-shadow: 0 48px 48px -32px rgba(23,16,159,.2),0 96px 96px -64px rgba(23,16,159,.4);
	}

	&__title {
		font-size: 38px;

		@include breakpoint(desktop) {
		}
	}

	&__btn {
		display: inline-block;
		margin-bottom: 50px;
		color: #fff;
		background: linear-gradient(120deg,rgba(52,221,135,0) 0%,#24d47a 100%);
		background-color: #34dd65;
		font-size: 15px;
		font-weight: 900;
		padding: 20px 30px;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 1px;
		border-radius: 100px;
	}

	&__notice {
		font-size: 20px;
	}

	svg {
		z-index: -1;
		position: absolute;
		width: 60%;
		top: -30%;
		left: -15%;
		transform: rotate(10deg);
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		width: 32px;
		height: 32px;
		border-radius: 2000px;
		background: rgba(255,123,43,.5);
		top: -80px;
		right: 30%;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		width: 440px;
		height: 440px;
		border-radius: 2000px;
		background: #34dd87;
		right: -100px;
		bottom: -80px;
		transition: 300ms all cubic-bezier(.4,0,.2,1);
	}

	&.animated-cta-highlighted {
		transform: scale(1.2,1.2);
		box-shadow: 0 48px 48px -32px rgba(23,16,159,.2),0 96px 96px -64px rgba(3,2,20,.6);

		svg {
			opacity: .2;
		}

		&::before {
			background: rgba(255,123,43,1);
		}
	}
}

.overlay {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(78,47,188,.8);
	transition: all 500ms ease-in-out;
	z-index: 4;
}

.animated-cta-overlay {
	.overlay {
		opacity: 1;
		visibility: visible;
		pointer-events: initial;
	}
}
