@use "sass:color";
@use "./../../../node_modules/css-cols/src/scss/variables" as *;
@use "./../../../node_modules/css-cols/src/scss/mixins" as *;
@use "./../../../node_modules/css-cols/src/scss/cols" as *;
@use "./../../../node_modules/css-cols/src/scss/functions" as *;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

body {
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
	color: black;
}

.block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 400px;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	opacity: .8;

	@include breakpoint(desktop) {
		height: 800px;
		font-size: 120px;
	}
}

.animated-cta {
	position: relative;
	z-index: 20;
	font-family: 'Lato', sans-serif;
	text-align: center;
	transition: all 1s ease;
	transform: scale(1,1);
	max-width: 100%;
	color: white;

	&__inner {
		z-index: 20;
		display: block;
		position: relative;
		padding: 20px 40px 40px 40px;
		border-radius: 10px;
		box-shadow: 0 48px 48px -32px rgba(23,16,159,.2),0 96px 96px -64px rgba(23,16,159,.4);

		@include breakpoint(desktop) {
			padding: 40px 80px 80px 80px;
		}
	}

	&__title {
		font-size: 20px;

		@include breakpoint(desktop) {
			font-size: 38px;
		}
	}

	&__btn {
		display: inline-block;
		margin-bottom: 50px;
		font-size: 15px;
		font-weight: 900;
		padding: 20px 30px;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 1px;
		border-radius: 100px;
	}

	&__notice {
		font-size: 20px;
	}

	svg {
		z-index: -1;
		position: absolute;
		width: 60%;
		top: -30%;
		left: -15%;
		transform: rotate(10deg);
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		width: 32px;
		height: 32px;
		border-radius: 2000px;
		opacity: .5;
		top: -80px;
		right: 30%;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		width: 440px;
		height: 440px;
		border-radius: 2000px;
		background: #34dd87;
		right: -100px;
		bottom: -80px;
		transition: 300ms all cubic-bezier(.4,0,.2,1);
	}

	&.demo-1 {
		.animated-cta__inner {
			background: radial-gradient(circle at top left,orange 0%, red 100%);
		}

		.animated-cta__btn {
			background-color: yellow;
			color: black;
		}
		&::before {
			background: orange;
		}

		&::after {
			background: greenyellow;
		}
	}

	&.demo-2 {
		.animated-cta__inner {
			background: radial-gradient(circle at top left, deeppink 0%, deepskyblue 100%);
		}

		.animated-cta__btn {
			background-color: white;
			color: black;
		}

		&::before {
			background: blue;
		}

		&::after {
			background: lime;
		}
	}

	&.demo-3 {
		.animated-cta__inner {
			background: radial-gradient(circle at top left, steelblue 0%, tan 100%);
		}

		.animated-cta__btn {
			background-color: tomato;
			color: white;
		}

		&::before {
			background: yellow;
		}

		&::after {
			background: thistle;
		}
	}

	&.animated-cta-highlighted {
		transform: scale(1.2,1.2);
		box-shadow: 0 48px 48px -32px rgba(23,16,159,.2),0 96px 96px -64px rgba(3,2,20,.6);

		svg {
			opacity: .2;
		}

		&::before {
			opacity: 1;
		}
	}
}

.animated-cta-overlay {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0,.5);
	transition: all 500ms ease-in-out;
	z-index: 4;
}

.animated-cta-overlay--is-active {
	.animated-cta-overlay {
		opacity: 1;
		visibility: visible;
		pointer-events: initial;
	}
}

.social {
	padding: 20px 20px;
	border-radius: 50%;
	transition: all 500ms ease-in-out;

	@include breakpoint(desktop) {
		padding: 50px 50px;
	}

	&:hover {
		box-shadow: 0 16px 16px -32px rgba(23,16,159,.2),0 32px 32px -34px rgba(3,2,20,.6);

		@include breakpoint(desktop) {
			box-shadow: 0 48px 48px -32px rgba(23,16,159,.2),0 96px 96px -64px rgba(3,2,20,.6);
		}
	}
}

.github {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512'%3E%3C!--! Font Awesome Pro 6.1.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;

	@include breakpoint(desktop) {
		width: 300px;
		height: 300px;
	}
}
